@{
    Layout = "_AccountLayout";
    ViewBag.Title = "Password changed";
    var request = Context.Request;
    var baseUri = string.Concat(request.Scheme, "://", request.Host.ToUriComponent());
}

<div class="row">
    <div class="col text-center pt-4">
        <h3 class="pb-2" style="color:#262F56; font-weight: 400;">Password changed successfully</h3>
        <a asp-action="ProfilePage" asp-controller="User" class="btn" style="color: #E0E0E0; background-color: #0395FF;width: 189px;height: 42px;border-radius: 15px;font-size: 18px;font-weight: 400;">
            Back
        </a>
    </div>
</div>
