@model ForgotPasswordFormModel;

@{
    ViewBag.Title = "Forgot Password";
    var request = Context.Request;
    var baseUri = string.Concat(request.Scheme, "://", request.Host.ToUriComponent());
}

<form asp-action="ForgotPassword" asp-controller="Account" method="POST">
    <input type="email" asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <button type="submit">Reset Password</button>
</form>