@model PasswordResetFormModel;

@{
    ViewBag.Title = "Forgot Password";
    var request = Context.Request;
    var baseUri = string.Concat(request.Scheme, "://", request.Host.ToUriComponent());
}

<form asp-action="ResetPassword" asp-controller="Account" method="POST">
    <input asp-for="UserID" hidden/>
    <input asp-for="Token" hidden/>

    <input asp-for="NewPassword"/>
    <span asp-validation-for="NewPassword"></span>
    <input asp-for="ConfirmPassword"/>
    <span asp-validation-for="ConfirmPassword"></span>
    
    <button type="submit">Reset Password</button>
</form>