
@{
    ViewBag.Title = "Forgot Password";
    var request = Context.Request;
    var baseUri = string.Concat(request.Scheme, "://", request.Host.ToUriComponent());
}

<p>Reset Password Completed</p>
<a asp-action="SignIn" asp-controller="Account" style="padding: 1rem; background-color: green;">Login</a>