@{
    Layout = "_AccountLayout";
    ViewBag.Title = "Forgot Password";
    var request = Context.Request;
    var baseUri = string.Concat(request.Scheme, "://", request.Host.ToUriComponent());

    var email = ViewData["email_address"];
}

<div class="row">
    <div class="col text-center pt-4">
        <h3 style="color:#262F56; font-weight: 400;">Password reset mail sent </h3>
        <p class="pb-2" style="color: #262F56; font-weight:400;"> to @email</p>
        <a asp-action="SignIn" asp-controller="Account" class="btn" style="color: #E0E0E0; background-color: #0395FF;width: 189px;height: 42px;border-radius: 15px;font-size: 18px;font-weight: 400;">
            Login
        </a>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <a asp-action="SignUpStart" asp-controller="Account" style="color: #0395FF;"> Sign up </a>
    </div>
</div>
