@{
    ViewBag.Title = "Forgot Password";
    var request = Context.Request;
    var baseUri = string.Concat(request.Scheme, "://", request.Host.ToUriComponent());

    var email = ViewData["email_address"];
}

<p>Reset Password Mail Sent to @email</p>