@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome 1 </h1>
    <p>Viral links welcome page</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome 2</h1>
    <p>Viral links welcome page</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Viral links welcome page</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Viral links welcome page</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Viral links welcome page</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Viral links welcome page</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Viral links welcome page</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Viral links welcome page</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Viral links welcome page</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Viral links welcome page</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Viral links welcome page</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Viral links welcome page</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Viral links welcome page</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Viral links welcome page</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Viral links welcome page</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Viral links welcome page</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Viral links welcome page</p>
</div>
