@{
    ViewBag.Title = "Membership Description";
    var request = Context.Request;
    var baseUri = string.Concat(request.Scheme, "://", request.Host.ToUriComponent());
}

<!--Guests -->
<div style="margin-top: -20px;" class="row pt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div style="color: #0395FF;margin-left: 2rem;
                    border-top-width: 0px;border-right-width: 0px;border-left-width: 0px;border-bottom-width: 1px;border-bottom-color: #C4C4C4;
                    padding-bottom: 35px;font-size: 14px;" class="col-1 col-md-1 text-center form-control">
                    <div style="border-top-width: 0px;border-right-width: 0px;border-left-width: 0px;border-bottom-width: 4px;border-bottom-color: red;" class="text-left pt-1">
                        <i style="font-size: 30px;" class="material-icons pt-0">person_outline</i>
                    </div>
                </div>                    
                <div class="col-9 col-md-7 text-left form-control" style="color: #262F56;border-top-width: 0px;border-right-width: 0px;border-left-width: 0px;border-bottom-width: 1px;border-bottom-color: #C4C4C4;
                    padding-bottom: 35px;font-size: 14px; font-weight: 400;">
                    <p class="pt-2 pl-1">Guests</p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<!-- Guests Sub Text -->
<div class="row" style="margin-top:-10px">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>                 
                <div style="color: #262F56;font-size: 14px; font-weight: 400;" class="col-md-8 text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10 w-100">
                                <p class="pt-1 text-left w-100" style="color: #989898; font-size:14px">Guests have access to regular posts on their feeds. They can read, but can not create or contribute to posts.</p>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row">
                            <a class="pt-0 pl-1 text-right w-100 member-link" asp-controller="Home" asp-action="Index"><p style="color: #C4C4C4; font-size: 14px">Continue as a guest</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<!--Free Members-->
<div style="margin-top: -20px;" class="row pt-1">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div style="color: #0395FF;margin-left: 2rem;
                    border-top-width: 0px;border-right-width: 0px;border-left-width: 0px;border-bottom-width: 1px;border-bottom-color: #C4C4C4;
                    padding-bottom: 35px;font-size: 14px;" class="col-1 col-md-1 text-center form-control">
                    <div style="border-top-width: 0px;border-right-width: 0px;border-left-width: 0px;border-bottom-width: 4px;border-bottom-color: red;" class="text-left pt-1">
                        <i style="font-size: 30px;" class="material-icons pt-0">person</i>
                    </div>
                </div>                    
                <div class="col-9 col-md-7 text-left form-control" style="color: #262F56;border-top-width: 0px;border-right-width: 0px;border-left-width: 0px;border-bottom-width: 1px;border-bottom-color: #C4C4C4;
                    padding-bottom: 35px;font-size: 14px; font-weight: 400;">
                    <p class="pt-2 pl-1">Free members</p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<!-- Free Members Sub text -->
<div class="row" style="margin-top:-10px">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>                 
                <div style="color: #262F56;font-size: 14px; font-weight: 400;" class="col-md-8 text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10 w-100">
                                <p class="pt-1 text-left w-100" style="color: #989898; font-size:14px">Inclusive of guests priviledges, free members can create posts and as well contribute to posts’ activities.</p>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row">
                            <a class="pt-0 pl-1 text-right w-100" asp-controller="Account" asp-action="SignIn"><p style="color: #0395FF; font-size: 14px">Sign up or Login</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<!--VIP-->
<div style="margin-top: -20px;" class="row pt-1">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div style="color: #0395FF;margin-left: 2rem;
                    border-top-width: 0px;border-right-width: 0px;border-left-width: 0px;border-bottom-width: 1px;border-bottom-color: #C4C4C4;
                    padding-bottom: 35px;font-size: 14px;" class="col-1 col-md-1 text-center form-control">
                    <div style="border-top-width: 0px;border-right-width: 0px;border-left-width: 0px;border-bottom-width: 4px;border-bottom-color: red;" class="text-left pt-1">
                        <i style="font-size: 30px;" class="material-icons pt-0">verified_user</i>
                    </div>
                </div>                    
                <div class="col-9 col-md-7 text-left form-control" style="color: #262F56;border-top-width: 0px;border-right-width: 0px;border-left-width: 0px;border-bottom-width: 1px;border-bottom-color: #C4C4C4;
                    padding-bottom: 35px;font-size: 14px; font-weight: 400;">
                    <p class="pt-2 pl-1">VIP members</p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<!-- Free Members Sub text -->
<div class="row" style="margin-top:-10px">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>                 
                <div style="color: #262F56;font-size: 14px; font-weight: 400;" class="col-md-8 text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10 w-100">
                                <p class="pt-1 text-left w-100" style="color: #989898; font-size:14px">Inclusive of free members’ priviledges, VIP members have <strong style="color: black; font-size: 14px; font-weight:400;">full access</strong> to the VIP lounge where only exclusive contents are posted by the virallinks admin.</p>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row">
                            <p style="color: #0395FF; font-size: 14px" class="pt-0 pl-1 text-right w-100">Upgrage to VIP</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
