@model CreatePostModel
@{
    ViewBag.Title = "Create Post";
    var request = Context.Request;
    var baseUri = string.Concat(request.Scheme, "://", request.Host.ToUriComponent());
}

<div class="row">
    <div class="col">
        <div class="container">

            <!-- Header Text -->
            <div class="row pt-2">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <p style="font-weight: 400;font-size: 18px; color: #989898" >You are about to post on the <br> WhatsApp groups' page</p>
                </div>
                <div class="col-md-3"></div>
            </div>

            <!-- Login Form -->
            <form method="POST" enctype="multipart/form-data" asp-action="CreatePost" asp-controller="Posts">

                <!--Subject-->
                <div class="row pt-4">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center form-control" style="color: #989898;margin-left: 2rem;margin-right: 2rem;
                        border-top-width: 0px;border-right-width: 0px;border-left-width: 0px;border-bottom-width: 1px;border-bottom-color: #C4C4C4;
                        padding-bottom: 1rem;font-size: 18px;">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <input oninput="OnSubjectInput()" asp-for="Subject" type="text" maxlength="80" autofocus placeholder=" Subject" style="font-size:18px; font-weight:400; border: none;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <!-- Subject count -->
                <div class="row pt-0" style="margin-top: -5px;">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-right" style="color: #989898;font-size: 14px;">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 text-right">
                                    <p id="subjectCount" style="font-size:14px; font-weight:400; border: none;">0/20</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>

                <!--Description-->
                <div class="row pt-3">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center form-control" style="color: #989898;margin-left: 2rem;margin-right: 2rem;
                        border-top-width: 0px;border-right-width: 0px;border-left-width: 0px;border-bottom-width: 1px;border-bottom-color: #C4C4C4;
                        padding-bottom: 1rem;font-size: 18px;">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <textarea asp-for="Description" maxlength="200" type="text" placeholder=" Description" style="font-size:18px; font-weight:400; border: none;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <!-- Description count -->
                <div class="row pt-0" style="margin-top: -5px;">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-right" style="color: #989898;font-size: 14px;">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 text-right">
                                    <p style="font-size:14px; font-weight:400; border: none;">@Model.DescriptionCount/200</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>

                <!--Link-->
                <div class="row pt-3">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center form-control" style="color: #989898;margin-left: 2rem;margin-right: 2rem;
                        border-top-width: 0px;border-right-width: 0px;border-left-width: 0px;border-bottom-width: 1px;border-bottom-color: #C4C4C4;
                        padding-bottom: 1rem;font-size: 18px;">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <input asp-for="Link" type="text" placeholder=" Insert link" style="font-size:18px; font-weight:400; border: none;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>

                <!--Upload Image-->
                <div class="row pt-5">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-left" style="color: #0395FF;margin-left: 1.5rem;
                        padding-bottom: 3rem;font-size: 18px;">
                        <div class="container">
                            <div class="row">
                                <input id="photo-input" type="file" asp-for="ProfilePicture" />
                                @* <div id="upload-button" class="col-12">
                                    <p class="float-left" style="font-size:18px">Upload image</p> 
                                    <i class="material-icons pl-1" style="font-size: 24px;">vertical_align_top</i>
                                    <p id="profile-picture"></p>
                                </div> *@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                
                <!-- Login button -->
                <div class="row pt-0">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center" style="color: #E0E0E0 !important;margin-left: 1rem;margin-right: 1rem;">
                       <button class="btn" type="submit" style="color: #E0E0E0; background-color: #0395FF;width: 189px;height: 42px;border-radius: 15px;font-size: 18px;font-weight: 400;"> 
                           Submit
                       </button>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    input[type="date"].valid, input[type="date"]:focus.valid, input[type="datetime-local"].valid, input[type="datetime-local"]:focus.valid, input[type="email"].valid, input[type="email"]:focus.valid, input[type="number"].valid, input[type="number"]:focus.valid, input[type="password"].valid, input[type="password"]:focus.valid, input[type="search-md"].valid, input[type="search-md"]:focus.valid, input[type="search"].valid, input[type="search"]:focus.valid, input[type="tel"].valid, input[type="tel"]:focus.valid, input[type="text"].valid, input[type="text"]:focus.valid, input[type="time"].valid, input[type="time"]:focus.valid, input[type="url"].valid, input[type="url"]:focus.valid, textarea.md-textarea.valid, textarea.md-textarea:focus.valid {
        border-bottom: none;
        box-shadow: 0 0 0 0 transparent;
    }
    input[type="text"]:focus:not([readonly]),  input[type="password"]:focus:not([readonly]) {
        border: none;
        box-shadow: 0 0 0 0 transparent;
    }

    .shake {
        -webkit-animation-name: shake;
        -moz-animation-name: shake;
        -o-animation-name: shake;
        animation-name: shake;
        -webkit-animation-duration: 4s;
        -moz-animation-duration: 4s;
        -o-animation-duration: 4s;
        animation-duration: 4s;
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;    
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-transition-timing-function:linear;    
    }
</style>

<!-- Upload picture script -->
<script defer>

    var upload_button = document.getElementById('upload-button');
    var photo_input = document.getElementById('photo-input');
    var photo = document.getElementById("profile-picture");

     var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
            }
            reader.readAsDataURL(input.files[0]);
            alert(e.target.files[0].name);

        }
    }

    photo_input.onchange = function(e){
        readURL(this);
    }

    upload_button.onclick = function(e) {
        photo_input.click();
    };

</script>